@font-face {
	font-family: "Rajdhani";
	src: url("Rajdhani/Rajdhani-Light.ttf") format('woff2');
  }


@font-face {
	font-family: "Gellix";
	src: url("Gellix/Gellix-RegularItalic.woff2") format('woff2');
  }

@font-face {
	font-family: "Anybody";
	src: url(Anybody/Anybody[slnt\,wdth\,wght].woff2) format('woff2-variations');
	font-display: block;
	font-style: normal;
	font-weight: 100 900;
	font-stretch: 10% 400%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@-webkit-keyframes image_blur {
    0% { -webkit-filter: blur(6px);}
    50% { -webkit-filter: blur(0px);}
    100% { -webkit-filter: blur(6px);}
}

@keyframes weds {
	from {
		filter: blur(8px);
		color: #FFFFFF;
	}

	50% {
		filter: blur(0px);
		color: black;
	}

	to {
		filter: blur(8px);
		color: #FFFFFF;
	}
}



span {
	color: black;
	-webkit-animation: image_blur 8s ;
	-webkit-background-clip: text;
	background-clip: text;
	animation: weds 16s linear 0s infinite;
	animation: move 4s linear infinite;
	font-family: "Anybody";
	font-size: 5vw;
	text-decoration: none;
	font-weight: 100;
	letter-spacing: -3px;
	animation: weight 16s infinite;
	animation-delay: calc(var(--char-index) * 150ms);
}

.col{
	margin-top: 0;
	color: black;
	-webkit-filter: blur(6px);
	
	-webkit-background-clip: text;
	background-clip: text;
	animation: weds 16s linear 0s infinite;
	
	
}
.col2{
	margin-top: 0;
	-webkit-filter: blur(6px);
	-webkit-background-clip: text;
	background-clip: text;
	animation: weds 16s linear 0s infinite;
	margin-bottom: 200px;
	
}

.col3{
	color: black;
	
	
}

a{
	letter-spacing: -3px;
	font-family: "Anybody";
	font-size: 5vw;
	font-weight: 990;
	color: black;
}

a:link {
	text-decoration: none;
  }
  
  a:visited {
	text-decoration: none;
  }
  
  a:hover {
	text-decoration:underline;
  }
  
  a:active {
	text-decoration: none;
  }


.res{
	font-family: "Rajdhani";
	color: white;
	z-index: 6;
    position: fixed;
    width: 100%;
	margin-bottom: 10px;
	margin-right: 20px;
	bottom: 0;
	left: 15px;
}

@keyframes weight {
	from {
		font-weight: 20;
	}

	50% {
		font-weight: 990;
	}

	to {
		font-weight: 20;
	}
}

body {

	z-index: -2;
	background-color: white;	
}
@keyframes move {
	 to {
		 background-position: 200% center; 
		} 
	}



.header{
    z-index: 100;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

a.h1{

	all: unset;
    color: white;
}

h6{
	letter-spacing: -3px;
	font-family: "Anybody";
	font-size: 5vw;
	font-weight: 990;
	color: black;
}

.content{
	margin-top: 100px;
	padding: 8px;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: aqua; */
}

.c1{

	width: auto;
	height: auto;
	border-radius: 0px;
}

h2{
	color: #FFFFFF;
	/* display: flex; */
  	/* width: 80%; */
  	/* justify-content: space-between; */
	margin: 0;
}
.imp{
	background-color: black;
	font-family: "Rajdhani";
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 30px;

	text-align: right;
	color: white;
	bottom: 0;
	right: 0;
	z-index: 2;
    position: fixed;
    width: 100%;
}
a.imprint{
	font-family: "Rajdhani";
	all: unset;
}

.sitedate{
	font-family: "Rajdhani";
	text-align: right;
	color: white;
	bottom: 0;
	right: 0;
	z-index: 2;
    position: fixed;
    width: 100%;
	margin-bottom: 10px;
	margin-right: 20px;
}



#background-video {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
  }


  
.Bg{
	display: flex;
	flex-direction: column;
	
    justify-content: center;
	width: 100vw;
	height: 40vh;
	z-index: -1;
}



.mg{
	width: 20px;
	height: 20px;
}

.r1{
	width: 100vw;
	height: 20vh;
	
}

.r2{
	width: 100vw;
	height: 20vh;
	z-index: 0;
	display: flex;

	justify-content: center;
	align-items: center;

}


.l1{
	padding-top: 2vh;

	width: 100vw;
	height: 20vh;
	justify-content: center;
	align-items: center;
	display: flex;

}


.l2{
	padding-top: 2vh;

	width: 100vw;
	height: 20vh;
	justify-content: center;
	align-items: center;
	display: flex;
}

.l3{
	padding-top: 2vh;

	width: 100vw;
	height: 20vh;
	justify-content: center;
	align-items: center;
	display: flex;
}

.l4{
	width: 20vw;
	height: 20vh;
}








