@font-face {
	font-family: "Rajdhani";
	src: url("Rajdhani/Rajdhani-Light.ttf") format('woff2');
  }


@font-face {
	font-family: "Gellix";
	src: url("Gellix/Gellix-RegularItalic.woff2") format('woff2');
  }

@font-face {
	font-family: "Anybody";
	src: url(Anybody/Anybody[slnt\,wdth\,wght].woff2) format('woff2-variations');
	font-display: block;
	font-style: normal;
	font-weight: 100 900;
	font-stretch: 10% 400%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



span {
	font-family: "Anybody";
	color: rgb(0, 0, 0);
	font-size: 10vw;
	text-decoration: none;
	font-weight: 100;
	letter-spacing: -3px;
	animation: weight 8s infinite;
	animation-delay: calc(var(--char-index) * 150ms);
}

@keyframes weight {
	from {
		font-weight: 20;
	}

	50% {
		font-weight: 990;
	}

	to {
		font-weight: 20;
	}
}

body {
	z-index: -2;
	background-color: white;	
}

.header{
	outline: 2px solid white;
    z-index: 100;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

a.h1{
	all: unset;
    color: white;
}

.content{
	margin-top: 100px;
	padding: 8px;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: aqua; */
}

.c1{
	outline: 2px solid rgb(255, 255, 255);
	width: auto;
	height: auto;
	border-radius: 0px;
}

h2{
	color: #FFFFFF;
	/* display: flex; */
  	/* width: 80%; */
  	/* justify-content: space-between; */
	margin: 0;
}
.imp{
	font-family: "Rajdhani";
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 30px;
	outline: 2px solid rgb(255, 255, 255);
	text-align: right;
	color: black;
	bottom: 0;
	right: 0;
	z-index: 2;
    position: fixed;
    width: 100%;
}
a.imprint{
	font-family: "Rajdhani";
	all: unset;
}

.sitedate{
	font-family: "Rajdhani";
	text-align: right;
	color: black;
	bottom: 0;
	right: 0;
	z-index: 2;
    position: fixed;
    width: 100%;
	margin-bottom: 10px;
	margin-right: 20px;
}



#background-video {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
  }


  
.Bg{
	display: flex;
	flex-direction: column;
	
    justify-content: center;
	width: 100vw;
	height: 80vh;
	z-index: -1;
}



.mg{
	display: flex;
	flex-direction: column;
	
    justify-content: center;
}

.r1{
	width: 100vw;
	height: 20vh;
	z-index: 0;
	display: flex;
	
	justify-content: center;
	align-items: center;
}

.r2{
	width: 100vw;
	height: 20vh;
	z-index: 0;
	display: flex;

	justify-content: center;
	align-items: center;

}


.l1{
	padding-top: 2vh;
	outline: 2px solid rgb(255, 255, 255);
	width: 100vw;
	height: 20vh;
	justify-content: center;
	align-items: center;
	display: flex;

}


.l2{
	padding-top: 2vh;
	outline: 2px solid rgb(255, 255, 255);
	width: 50vw;
	height: 20vh;
	display: flex;

	justify-content: center;
	align-items: center;
}

.l3{
	padding-top: 2vh;
	width: 80vw;
	height: 20vh;
	display: flex;

	justify-content: center;
	align-items: center;
}

.l4{
	width: 20vw;
	height: 20vh;
}



.pf{
}







